.div-login {
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto
    /* width: 100%; */
}

.div-login input, .div-login .button-wrapper, .div-login h1{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    width: 20rem;
    height: 2rem;
}

.div-login h1{
    text-align: center;
}

.div-login input{
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px 1rem;
    margin: 1rem 0
}
